medical/__pycache__/__init__.cpython-39.pyc
medical/__pycache__/settings.cpython-39.pyc
medical/__pycache__/urls.cpython-39.pyc
medical/__pycache__/wsgi.cpython-39.pyc
.idea/medical.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
